// Banner

.banner {
    border-bottom: 12px solid #fff;
    border-left: 12px solid #fff;
    border-right: 12px solid #fff;
    width: 100%;
    min-height: 450px;
    height: 100%;
    background-color: #d9ebf5;
    text-align: center;
    display: flex;
    flex-flow: column;
    //padding: 4rem;
    //justify-content: center;
    //align-items: center;

    @include breakpoint(medium) {
        height: 620px;
    }
}

.logo {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 1rem;
    margin: 2rem auto;
    //padding-top: inherit;
    //margin-bottom: 2rem;

    @include breakpoint(medium) {
        margin: 4rem auto;
        //margin-bottom: 4rem;
        width: 100%;
        //height: 100%;
        max-width: 500px;


    }
}

.logo--small {
    margin-bottom: 4rem;
    margin-top: 3rem;
    width: 60%;
    max-width: 250px;
    min-width: 200px;
}

.banner__detail-group {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.banner__detail {
    padding: 1rem 1.75rem 0.75rem;
    border: 2px solid #fff;
    text-transform: uppercase;
    color: #153048;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 0.8rem;
    position: relative;

    @include breakpoint(medium) {
        padding: 1.25rem 2rem 1rem;
        font-size: 1rem;
    }

    @include breakpoint(large) {
        padding: 1.25rem 3rem 1rem;
        font-size: 1.1rem;
    }

    & + & {
        border-left: 0;
    }

    &:after {
        content: '';
        position: absolute;
        box-sizing: content-box;
        height: 100%;
        width: 100%;
        left: 0%;
        top: 0%;
        transform: translate(4px, 4px);
    }

    &:first-child:after {
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }

    &:last-child:after {
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        padding-right: 2px;
    }
}

