// Layout

// Set border-box on all elements
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}


html,
body {
    background-color: #fff;
}

.container {
    position: relative;
    margin: auto;
    max-width: 1200px;
}

.flex-container {
    position: relative;
    display: flex;
}

.flex-item {
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
}

.u-justify-center {
    justify-content: center;
}

.section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}