// Story


// TODO: Refactor these styles

.article {
    text-align: center;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.article__heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.u-mr-half {
    margin-right: 0.5rem;
}

.u-mr1 {
    margin-right: 1rem;
}

.frame {
    position: relative;
    width: 100%;

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: calc(100% - 1rem);
        height: calc(100% - 1rem);
        border: 2px solid $color-white;
        border-radius: 2px;
        top: 0.5rem;
        left: 0.5rem;
    }
    
    img {
        display: block;
    }
}

.story__photo-primary {
    position: relative;
    top: -4rem;
    right: 1rem;
    box-shadow: 0 -1rem 2rem -1rem rgba(0,0,0,.1);
    
    img {
        max-width: 450px;
    }
}


.secondary-item {
    position: absolute;
    left: 0;
}

.story__photo-secondary {
    @include breakpoint(large) {
        top: -2rem;
    }

    @include breakpoint(xlarge) {
        top: -4rem;
    }

    img {
        width: 100%;
        max-width: 350px;

        @include breakpoint(xlarge) {
            max-width: 400px;
        }
    }
}

.story__polaroids {
    margin-top: 2rem;
    overflow-x: hidden;
    padding-bottom: 2rem;

    @include breakpoint(large) {
        margin-top: -6.5rem;
    }
}

