// Timeline

.timeline {}

.timeline__group {
    display: flex;
    justify-content: center;
}

.timeline__icon {
    position: relative;
    top: 1.25rem;
    padding: 1rem;
    min-width: 100px;

    @include breakpoint(medium) {
        min-width: 300px;
    }

    .timeline__group:nth-child(even) & {
        @include breakpoint(medium) {
            text-align: right;
        }
    }
    .timeline__group:nth-child(odd) & {
        @include breakpoint(medium) {
            order: 2;
        }
    }
}

.timeline__event {
    border-left: 2px solid $color-secondary;
    max-width: 300px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .timeline__group:nth-child(odd) & {
        @include breakpoint(medium) {
            order: 1;
            border-left: initial;
            border-right: 2px solid $color-secondary;
            max-width: 303px;
        }
    }
}

.timeline__title {
    position: relative;
    border-bottom: 2px dotted $color-secondary;
    padding: 1rem;
    padding-bottom: 0.25rem;

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 8px;
        height: 8px;
        border: 2px solid $color-secondary;
        border-radius: 50%;
        background-color: $color-primary;
        left: -5px;
    }

    .timeline__group:nth-child(odd) & {
        @include breakpoint(medium) {
            &::after {
                left: initial;
                right: -5px;
            }
        }
    }
}

.timeline__time {
    display: inline-block;
    margin-right: 1rem;

    &::after {
        content: '\02219';
        display: inline-block;
        margin-left: 1rem;
    }

    @include breakpoint(large) {
        position: absolute;
        display: block;
        right: -4.5rem;
        top: 1.75rem;
        margin: 0;
        font-size: 1.25rem;

        &::after {
            content: none;
        }
    }

    .timeline__group:nth-child(odd) & {
        @include breakpoint(large) {
            right: initial;
            left: -4.5rem;
        }
    }
}

.timeline__description {
    padding: 1rem;
    padding-top: 0.25rem;
}

.u-smallcaps {
    font-family: $font-family-serif-smallcaps;
}