// Helper Functions

// Tint
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// Shade
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}