/* Form */
.form-container {
  background-color: #d9ebf5;
  border: 1px solid #8a97a3;
  margin: 0 auto;
  width: 90%;
  position: relative;
}

.form-container::after {
  content: '';
  position: absolute;
  top: 0%;
  border: 1px solid #8a97a3;
  height: 100%;
  width: 100%;
  transform: translate(.5em, .5em);
  pointer-events: none;
}

@media screen and (min-width: 640px) {
  .form-container {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .form-container {
    width: 40%;
  }
}

.form__header {
  text-align: center;
  border-bottom: 1px solid #8a97a3;
  width: 100%;
  padding: 1rem;
}

.header__title {
  text-transform: uppercase;
  font-size: 1.3rem;
  margin: 0;
}

.header__subtitle {
  margin: 0;
  font-style: italic;
}

.form__footer {
  border-top: 1px solid #8a97a3;
  width: 100%;
  padding: 1rem;
}

.is-error {
  color: red;
}

/* Input.js */

.form__controls {
  margin: 3rem;
}

.control__textbox-label {
  display: block;
  text-transform: uppercase;
}

.control__textbox-input {
  border: none;
  width: 100%;
  line-height: 1.6rem;
}

.control__checkbox-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.control__checkbox-group {
  margin: 1rem 0rem;
}

.control__checkbox-input {
  vertical-align: top;
}

.control__checkbox-description {
  display: inline-block;
}

.control__checkbox-caption {
  margin: 0;
  text-transform: uppercase;
}

/* Summary */
.form__guest-summary {
  margin: 3rem;
}

/* Guest */
.guest {
  background-color: #fff;
  padding: 1rem;
  margin: .5rem 0;
}

.guest__heading {
  display: flex;
}

.guest__title {
  text-transform: uppercase;
  margin: 0;
  flex-grow: 1
}

.guest__detail {
  margin: 0;
}

/* Result */
.form__result {
 margin: 3rem;
 padding: 1rem;
 background-color: #fff;
}

.result__emoji {
  width: 1rem;
  margin: 0 auto;
  display: block;
}

.result__title {
  text-transform: uppercase;
  text-align: center;
}

.result__guest-list {
  border-top: 1px solid #d9ebf5;
  padding: 0;
  margin: 0;
}

.result__guest-item {
  list-style-type: none;
  text-transform: uppercase;
}

/* Buttons */
.form-btn {
  text-transform: uppercase;
  background-color: #26364f;
  color: #fff;
  padding: 0.5rem 1.3rem;
  margin: 0 auto;
}

.form-btn--white {
  background-color: #fff;
  color: #26364f;
  border: 1px solid #26364f;
}

.form-btn--edit {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 0;
  margin: 0;
}
