// Utility Classes

// Background Colors
.u-fill--primary { background-color: $color-primary; }
.u-fill--primary--light { background-color: $color-primary--light; }
.u-fill--primary--lighter { background-color: $color-primary--lighter; }
.u-fill--primary--dark { background-color: $color-primary--dark; }
.u-fill--secondary { background-color: $color-secondary; }
.u-fill--gray { background-color: $color-gray; }
.u-fill--black { background-color: $color-black; }
.u-fill--white { background-color: $color-white; }

// Text Colors
.u-color--primary { color: $color-primary; }

// Measure (restrict content to readable line length)
.u-measure { max-width: 65ch; }

.u-text-center { text-align: center; }

// Spacing
.u-mt1 { margin-top: 1rem; }
.u-mt2 { margin-top: 2rem; }
.u-mt3 { margin-top: 3rem; }
.u-mt4 { margin-top: 4rem; }

.u-mb1 { margin-bottom: 1rem; }
.u-mb2 { margin-bottom: 2rem; }
.u-mb3 { margin-bottom: 3rem; }
.u-mb4 { margin-bottom: 4rem; }
.u-mb6 { margin-bottom: 6rem; }
.u-mb9 { margin-bottom: 9rem; }
.u-mb12 { margin-bottom: 12rem; }



// Visibility

.u-show-for-medium {
    display: none;

    @include breakpoint(medium) {
        display: initial;
    }
}

.u-hide-for-medium {
    @include breakpoint(medium) {
        display: none;
    }
}

.u-show-for-large {
    display: none;

    @include breakpoint(large) {
        display: initial;
    }
}

.u-hide-for-large {
    @include breakpoint(large) {
        display: none;
    }
}