// Utility Classes

// Background Colors
.u-fill--primary { background-color: $color-primary; }
.u-fill--primary--light { background-color: $color-primary--light; }
.u-fill--primary--lighter { background-color: $color-primary--lighter; }
.u-fill--primary--dark { background-color: $color-primary--dark; }
.u-fill--secondary { background-color: $color-secondary; }
.u-fill--gray { background-color: $color-gray; }
.u-fill--black { background-color: $color-black; }
.u-fill--white { background-color: $color-white; }

// Text Colors
.u-color--primary {
    color: $color-primary;
}

// Measure (restrict content to readable line length)
.u-measure {
    // max-width: 65ch;
}




// Visibility

.u-show-for-medium {
    display: none;

    @include breakpoint(medium) {
        display: initial;
    }
}

.u-hide-for-medium {
    @include breakpoint(medium) {
        display: none;
    }
}
