@import '~foundation-sites/scss/util/util';
@import './settings';
@import '~foundation-sites/scss/foundation';

@include foundation-everything;

html,
body {
    background-color: #d9ebf5;
}

.logo {
    left: 50%;
    position: absolute;
    top: 100px;
}

.logo__container {
    left: -50%;
    position: relative;
}

.logo__container > img {
    width: 480px;
}

.logo__description {
    color: #75a1b7;
    margin-top: 80px;
    text-align: center;
}
